<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='products.css') }}">    -->
    <link rel="stylesheet" href="../static/products.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light ">
        <a class="navbar-brand" href="#">GET_FIT</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="{{url_for('products')}}">Services<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="{{url_for('user',username=current_user.username)}}">Profile </a>
            <a class="nav-item nav-link" href="{{url_for('login')}}">Login</a>
            <a class="nav-item nav-link" href="{{url_for('trial')}}">Sign Up</a>
          </div>
        </div>
    </nav>
    <div class="landing">
            <div class="hero-image">
                <div class="hero">

                    <h1 id="uno">It's all in the mind</h1>
    
                </div>
            </div>
    </div>

        <div class="about">
            <div class="about-message">

                <h4 class="heading">WE TAKE PRIDE IN CREATING UPLIFTING, HOME GYM DESIGNS WITH A MULTIFACETED APPROACH.</h4>
                <p class="about-text">Floor coverings, space considerations, and equipment guidance are all part of our process. Schedule your gym design consultation today!</p>
        
            </div>
        </div>
        <div class="services">
            <h2 class="title1">Services</h2>
            <div class="content">
                <div class="row">
                    <div class="column">
                        <img src="../static/img/training.jpg" alt="Snow" style="width:100%">
                        <p class="tres">We are more than just a site that sells fitness equipment—we also offer installation of your equipment on-site. Ardent Fitness works with only the most reputable installation and service providers in the industry.</p>
                    </div>
                    <div class="column">
                        <img src="../static/img/gym4.jpg" alt="Forest" style="width:100%">
                        <p class="tres">We offer Fitness equipment protection plans from Safeware to keep your investment covered. Safeware features protection plans from standard coverage for parts and labor to full commercial program options.</p>
                    </div>
                    <div class="column">
                        <img src="../static/img/man1.png" alt="Mountains" style="width:100%">
                        <h4></h4>
                        <p class="tres">We offer Fitness equipment protection plans from Safeware to keep your investment covered. Safeware features protection plans from standard coverage for parts and labor to full commercial program options.</p>
                    </div>
                </div>
            </div>

        </div>

    <div class="content-section">
        <h3>~Book Session~</h3>
        <hr>
       
        <form method="POST"  action="" novalidate>
            {{form.hidden_tag()}}
            <fieldset class="form-group">
                <legend  class="border-bottom mb-4"></legend>
                <div class="form-group">
                    {{form.classes.label(class="form-control-label")}}
                    {% if form.classes.errors%}
                    {{form.classes(class="form-control form-control-lg is-invalid" )}}
                        <div class="invalid-feedback">
                            {% for error in form.classes.errors%}
                                <span>{{error}}</span>
                            {% endfor %}
                        </div>
                        {% else%}
                        {{form.classes(class="form-control form-control-lg")}}


                    {% endif %}


                </div>
                <div class="form-group">
                    {{form.package.label(class="form-control-label")}}
                        {% if form.package.errors%}
                        {{form.package(class="form-control form-control-lg is-invalid" )}}
                            <div class="invalid-feedback">
                                {% for error in form.package.errors%}
                                    <span>{{error}}</span>
                                {% endfor %}
                            </div>
                            {% else%}

                            {{form.package(class="form-control form-control-lg")}}

                        {% endif %}
                </div>

                <div class="form-group">
                    {{form.trainer.label(class="form-control-label")}}
                        {% if form.trainer.errors%}
                        {{form.trainer(class="form-control form-control-lg is-invalid" )}}
                            <div class="invalid-feedback">
                                {% for error in form.trainer.errors%}
                                    <span>{{error}}</span>
                                {% endfor %}
                            </div>
                            {% else%}

                            {{form.trainer(class="form-control form-control-lg")}}

                        {% endif %}
                </div>
            </fieldset>
            
            
            <div class="form-group ">
                {{form.submit(class="btn ")}}
            </div>
            
            

        </form>
        <footer>
            <div class="footer">
                <p>GET-FIT</p>
            </div>
        </footer>
    
</body>
</html>