<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Document</title>
</head>
<body>

    <div class="content-section">
       
        <form method="POST"  action="" novalidate>
            {{form.hidden_tag()}}
            <fieldset class="form-group">
                <legend  class="border-bottom mb-4"></legend>
                <div class="form-group">
                    {{form.classes.label(class="form-control-label")}}
                    {% if form.classes.errors%}
                    {{form.classes(class="form-control form-control-lg is-invalid" )}}
                        <div class="invalid-feedback">
                            {% for error in form.classes.errors%}
                                <span>{{error}}</span>
                            {% endfor %}
                        </div>
                        {% else%}
                        {{form.classes(class="form-control form-control-lg")}}


                    {% endif %}


                </div>
                <div class="form-groip">
                    {{form.package.label(class="form-control-label")}}
                        {% if form.package.errors%}
                        {{form.package(class="form-control form-control-lg is-invalid" )}}
                            <div class="invalid-feedback">
                                {% for error in form.package.errors%}
                                    <span>{{error}}</span>
                                {% endfor %}
                            </div>
                            {% else%}

                            {{form.package(class="form-control form-control-lg")}}

                        {% endif %}
                </div>

                <div class="form-groip">
                    {{form.trainer.label(class="form-control-label")}}
                        {% if form.trainer.errors%}
                        {{form.trainer(class="form-control form-control-lg is-invalid" )}}
                            <div class="invalid-feedback">
                                {% for error in form.trainer.errors%}
                                    <span>{{error}}</span>
                                {% endfor %}
                            </div>
                            {% else%}

                            {{form.trainer(class="form-control form-control-lg")}}

                        {% endif %}
                </div>
            </fieldset>
            
            
            <div class="form-group ">
                {{form.submit(class="btn ")}}
            </div>
            
            

        </form>
    
</body>
</html>